@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.contenedor-home {
  background: rgb(123, 17, 249);
  background: linear-gradient(
    180deg,
    rgba(123, 17, 249, 1) 0%,
    rgba(121, 34, 216, 1) 39%,
    rgba(54, 54, 178, 1) 100%
  );
  border-radius: 0 0 50% 50%;
}

.contenedor-home {
  background: rgb(123, 17, 249);
  background: linear-gradient(
    180deg,
    rgba(123, 17, 249, 1) 0%,
    rgba(121, 34, 216, 1) 39%,
    rgba(54, 54, 178, 1) 100%
  );
  border-radius: 0 0 150px 150px;
}

@media (max-width: 600px) {
  .contenedor-home {
    border-radius: 0 0 50px 50px;
  }
}

.isotipo {
  all: none;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.title-group h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}

.ilustration-register {
  position: relative;
  overflow: hidden;
  font-family: "Kanit", sans-serif;
}

.ilustration-register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/homeStudy.png) no-repeat center center;
  background-size: cover;
  filter: brightness(0.4);
  z-index: -1;
}

.ilustration-register2 {
  position: relative;
  overflow: hidden;
  font-family: "Kanit", sans-serif;
}

.ilustration-register2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/homeOffice2.jpg) no-repeat center center;
  background-size: cover;
  filter: brightness(0.5);
  z-index: -1;
}

.ilustration-register2 h1 {
  font-size: x-large;
  padding: 2rem;
  text-align: center;
}

